# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IG-P1-Wikipedia-Scrapper.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
